<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ethxnn88.github.io/apps/TrollInstallerMDC.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://repo.sourceloc.net/icons/picasso.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://repo.sourceloc.net/icons/picasso.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ethxnn88.TrollInstallerMDC</string>
                <key>bundle-version</key>
                <string>1.0.3</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>TrollInstallerMDC</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
